* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
    font-size: 14px;
    font-family: 'SF Pro Display'
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/font/SFPRODISPLAYREGULAR.OTF');
}

.loader{
  animation: flash 1.5s infinite reverse;
  animation-timing-function: cubic-bezier(0.05, 1.25);
  border:1px solid white
 }

@keyframes flash {
  0% {
opacity:0
  }
  100%{
    opacity:1
  }
}
